<div class="row">
  <div class="small-2 column">
    {{link-to "Add" "admin.users.add" class='button expand'}}
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    {{#if model}}
      <table>
        <thead>
          <tr>
            <th>Full name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |user|}}
            <tr>
              <td>{{user.fullName}} - {{user.id}}</td>
              <td>
                <ul class="button-group">
                  <li>
                    {{#link-to "admin.users.user.edit" user title="Edit" class="button tiny"}}
                      <i class="fi-pencil"></i>
                    {{/link-to}}
                    </li>
                  <li>
                    {{#link-to "admin.users.user" user title="Details" class="button tiny"}}
                      <i class="fi-list"></i>
                    {{/link-to}}
                  </li>
                  {{delete-confirmation resource=user}}
                </ul>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
  <div class="small-8 columns details-pane">
    {{outlet}}
  </div>
</div>
