<div class="row">
  <div class="small-4 columns">
    {{link-to "Add" "admin.repositories.add" class='button'}}
  </div>
</div>
{{#if model}}
<div class="row">
  <div class="small-10 columns">
    {{#each model as |repo|}}
      <div class="row">
        <div class="small-7 columns">
          <a {{bind-attr href=repo.url}}>{{repo.url}}</a>
        </div>
        <div class="small-5 columns">
          {{delete-confirmation resource=repo}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="small-7 columns">
    {{outlet}}
  </div>
</div>
{{/if}}
