<h2 id='title'>Rafee Login</h2>

<form class="form-signin" role="form">
  {{input value=username class="form-control login-username" placeholder="Username"}}
  {{input type="password" value=password class="form-control login-password" placeholder="Password"}}
  <button class="btn btn-lg btn-primary btn-block" {{action "signIn"}} {{bind-attr disabled=disabled}}>Sign in</button>
</form>

{{#if success}}
  <div class="alert alert-success" role="alert">
    Bingo!
  </div>
{{/if}}

{{#if failure}}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Security is too tight son!</strong> {{ errorMessage }}.
  </div>
{{/if}}
