<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="input-group input-group-sm">
        {{input type="text" value=searchText placeholder="Search..." class="form-control"}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"</span></span>
      </div>
    </div>
    <div class="col-md-2">
      {{link-to 'Preview' 'templates.preview' class='btn btn-primary btn-sm'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{#if model}}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each model}}
              <tr>
                <td>{{name}}</td>
                <td>
                  <span {{action "render" name}}>
                    {{#link-to "template.render" this title="Render"}}
                      <span class="glyphicon glyphicon-eye-open"></span>
                    {{/link-to}}
                  </span>
                  {{#link-to "template" this title="Details"}}
                    <span class="glyphicon glyphicon-list"></span>
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    <div class="col-md-8 details-pane">
      {{outlet}}
    </div>
  </div>
</div>
