<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group input-group-sm">
        {{input type="text" value=filterText placeholder="Filter..." class="form-control"}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
    {{#each info in globalLinksArray}}
      <div class="col-md-2">
        {{link-to info.title info.link class='btn btn-primary btn-sm'}}
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-5">
      {{#if list}}
        <table class="table">
          <thead>
            <tr>
              {{#each tableHeader in tableHeadersArray}}
                <th>{{tableHeader}}</th>
              {{/each}}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each item in list}}
              <tr>
                {{#if tableValuesTemplate}}
                  {{partial tableValuesTemplate}}
                {{else}}
                  {{#each tableValue in tableValuesArray}}
                    <td>{{get-attr item tableValue}}</td>
                  {{/each}}
                {{/if}}
                <td>
                  {{#each info in actionLinksArray}}
                    {{#link-to info.link item title=info.title}}
                      <span {{bind-attr class=info.icon}}></span>
                    {{/link-to}}
                  {{/each}}
                  {{#if addDelete}}
                    {{delete-confirmation resource=item}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    <div class="col-md-7 details-pane">
      {{outlet}}
    </div>
  </div>
</div>
