<form>
  <div class="row">
    <div class="small-12 columns">
      <label>Username
        {{input type="text" value=username}}
        <small class="hide">{{errors.username}}</small>
      </label>
      <label>e-mail
        {{input type="email" value=email}}
        <small class="hide">{{errors.email}}</small>
      </label>
      <label>Full name
        {{input type="text" value=fullName}}
        <small class="hide">{{errors.fullName}}</small>
      </label>
      <label>Is staff?
        {{input type="checkbox" checked=isStaff}}
      </label>
      <label>Teams
        {{view "select"
            multiple="true"
            content=allTeams
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding="teams"
            class="form-control"}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <button type="submit" class="right" {{action 'submit' model}}>Submit</button>
    </div>
  </div>
</form>
