<form>
  <div class="row">
    <div class="small-12 columns">
      <label class="form-field-username">Username
        {{input type="text" value=model.username}}
        <small class="form-field-username">{{controller.errors.username}}</small>
      </label>
      <label class="form-field-email">e-mail
        {{input type="email" value=model.email}}
        <small class="form-field-email">{{controller.errors.email}}</small>
      </label>
      <label class="form-field-fullName">Full name
        {{input type="text" value=model.fullName}}
        <small class="form-field-fullName">{{controller.errors.fullName}}</small>
      </label>
      <label>Is staff?
        {{input type="checkbox" checked=model.isStaff}}
      </label>
      <label>Teams
        {{view "select"
            multiple="true"
            content=controller.allTeams
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding="model.teams"
            class="form-control"}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <button type="submit" class="right" {{action 'submit' model}}>Submit</button>
    </div>
  </div>
</form>
