<form>
  <div class="row">
    <div class="small-12 columns">
      {{#form-field errors=controller.errors key="username" label="Username"}}
        {{input type="text" value=model.username}}
      {{/form-field}}
      {{#form-field errors=controller.errors key="email" label="e-mail"}}
        {{input type="email" value=model.email}}
      {{/form-field}}
      {{#form-field errors=controller.errors key="fullName" label="Full name"}}
        {{input type="text" value=model.fullName}}
      {{/form-field}}
      <label>Is staff?
        {{input type="checkbox" checked=model.isStaff}}
      </label>
      <label>Teams
        {{view "select"
            multiple="true"
            content=controller.allTeams
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selectionBinding="model.teams"
            class="form-control"}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <button type="submit" class="right" {{action 'submit' model}}>Submit</button>
    </div>
  </div>
</form>
