<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{link-to "Rafee" "index"}}</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      {{#if currentUser.isStaff}}
      <ul class="left">
        <li>
          {{link-to "Admin dashboard" "admin" class="navbar-admin"}}
        </li>
      </ul>
      {{/if}}
      <ul class="right">
        <li class="divider"></li>
        {{#if session.isAuthenticated}}
        <li class="has-dropdown">
          <a href="#">{{currentUser.username}}</a>
          <ul class="dropdown">
            <li>
              {{link-to "Profile" "profile"}}
            </li>
            <li>
              <a href="#" {{action "invalidateSession"}}>Log Out</a>
            </li>
          </ul>
        </li>
        {{else}}
        <li>
          <a href="#" {{action "authenticateSession"}}>Log In</a>
        </li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>
<div class="flash-wrapper">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash messageStyle='foundation'}}
  {{/each}}
</div>
{{outlet}}
